Repository Taro-IT/docs, pull requests merged in 2021-09, with the labels that each got.

#24 All plantillas y procesos de juntas
  docs/assets/G01/g01-img-1.png
  docs/assets/G01/g01-img-2.png
  docs/assets/G01/g01-img-3.png
  docs/assets/G01/g01-img-4.png
  docs/assets/G01/g01-img-5.png
  docs/assets/G01/g01-img-6.png
  docs/guides/G01-Guia-para-agendar-juntas.md
  docs/guides/_category_.json
  docs/processes/P01-Juntas-Departamentales.md
  docs/processes/_category_.json
  docs/templates/_category_.json
Labels: Revisión

#19 15 guia para definicion de assets
  docs/guias/_category_.json
  docs/guias/guia_definicion_assets.md
  docusaurus.config.js
  package.json
  yarn.lock
Labels: documentation

#26 25 arreglar main
  docs/guias/G01-guia-para-agendar-juntas.md
  docs/guias/G02-guia-definicion-assets.md
  docs/guias/G03-guia-revision-assets.md
  docs/guias/_category_.json
  docs/guides/_category_.json
  docs/plantillas/PL1-plantilla-para-minutas.md
  docs/plantillas/PL2-plantilla-para-guias.md
  docs/plantillas/_category_.json
  docs/politicas/_category_.json
  docs/procesos/P01-proceso-juntas-departamentales.md
  docs/procesos/_category_.json
  docs/processes/P01-Juntas-Departamentales.md
  static/img/guias/G01/g01-img-1.png
  static/img/guias/G01/g01-img-2.png
  static/img/guias/G01/g01-img-3.png
  static/img/guias/G01/g01-img-4.png
  static/img/guias/G01/g01-img-5.png
  static/img/guias/G01/g01-img-6.png
  static/img/guias/G01/g01-img-7.png
  static/img/guias/G03/add-comment.png
  static/img/guias/G03/comment-saved.png
  static/img/guias/G03/commit-changes.png
  static/img/guias/G03/commit-history.png
  static/img/guias/G03/edit-file.png
  static/img/guias/G03/files-changed.png
  static/img/guias/G03/final-result.png
  static/img/guias/G03/in-review-column.png
  static/img/guias/G03/inline-comment.png
  static/img/guias/G03/mark-viewed.png
  static/img/guias/G03/markdown-toggle-2.png
  static/img/guias/G03/markdown-toggle.png
  static/img/guias/G03/open-pr.png
  static/img/guias/G03/submit-review.png
Labels: bug

#28 Se agrega Proceso para Juntas con Socios Formadores
  docs/procesos/P02-proceso-juntas-socios-formadores.md
Labels: procesos

#32 Eric/fix/modificar p01 p02 pl2
  docs/guias/G01-guia-para-agendar-juntas.md
  docs/guias/G02-guia-definicion-assets.md
  docs/guias/G03-guia-revision-assets.md
  docs/plantillas/PL2-plantilla-para-guias.md
  docs/plantillas/PL6-plantilla-para-procesos.md
  docs/procesos/P01-proceso-juntas-departamentales.md
  docs/procesos/P02-proceso-juntas-socios-formadores.md
Labels: bug, documentation

#34 Politicas departamentales - POL01, POL02, POL03
  docs/guias/_category_.json
  docs/politicas/POL01-politicas-departamentales.md
  docs/politicas/POL02-uso-de-instalaciones-departamentales.md
  docs/politicas/POL03-forma-de-trabajo.md
  docs/politicas/_category_.json
  docs/procesos/_category_.json
  package-lock.json
  package.json
  yarn.lock
Labels: políticas

#37 docs(ethics-code): create initial version
  docs/codigo-etica.md
Labels: documentation

#36 feat: Guide for 1 to 1 talks
  docs/guias/G05-guia-platicas-1-a-1.md
Labels: guías

#38 P05 - proceso de requisitos
  docs/procesos/P05-proceso-requisitos.md
Labels: documentation, procesos

#48 Feat/p10 trazabilidad de requerimiento
  docs/plantillas/PL04-plantilla-de-matriz-de-trazabilidad-de-requisitos.md
  docs/procesos/P11-proceso-de-trazabilidad-de-requerimiento.md
  package-lock.json
Labels: procesos, plantillas

#52 feat: agregarP08 gestión de riegos y G06 definición de riesgos
  docs/guias/G06-guia-definicion-riesgos.md
  docs/procesos/P08-proceso-gestion-riesgos.md
Labels: documentation, procesos, guías

#58 docs(process): create user story process
  docs/procesos/P13-proceso-generar-alimentar-historias-usuario.md
Labels: documentation, procesos

#66 fix(templates): change process table template for easier management
  docs/plantillas/PL03-plantilla-para-procesos.md
Labels: enhancement, plantillas

#74 feat: add process map
  docs/intro.md
  static/img/mapa-de-procesos.png
Labels: documentation
