Repository Taro-IT/docs, pull requests merged in 2021-10, with the labels that each got.

#77 feat/tablero-cmmi-2
  docs/tablero-cmmi.md
  static/img/tablero-cmmi/primera-entrega-scampi.png
Labels: enhancement

#71 Fix/p14 proceso de definición de un plan
  docs/guias/G09-guia-ubicar-interesados-en-la-matriz-de-interesados.md
  docs/plantillas/PL07-plantilla-para-vision-statement-de-un-plan.md
  docs/plantillas/PL08-plantilla-para-documentacion-de-un-plan.md
  docs/procesos/P06-proceso-de-identificacion-de-necesidades.md
  docs/procesos/P14-proceso-de-definicion-del-plan-inicial.md
Labels: documentation, procesos

#76 POL04-Definicion de elementos de la configuracion
  docs/politicas/POL04-Definicion de elementos de configuracion.md
Labels: documentation, políticas

#78 docs: create TL guide
  docs/guias/G09-guia-team-leader.md
Labels: documentation, guías

#73 Feat/g08 guia para el pm
  docs/guias/G08-guia-para-el-pm.md
Labels: documentation, guías

#86 P15 - Typofix
  docs/procesos/P15-proceso-planeacion-de-iteracion.md
Labels: documentation, procesos

#82 P17 - proceso de cambios de rol
  docs/procesos/P17-proceso-cambios-de-rol.md
Labels: documentation, procesos
